/* home container */
.lawyer-home-dropdown {
    width: 1366px;
    height: 4257px;
    background-color: #f8f8f8;
  }


/* personal info and options container */
.Rectangle-1 {
    width: 1366px;
    height: 183px;
    padding: 25px 41.5px 26px 43.3px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
  }

/* phone symbol */
.Icon-ionic-ios-call {
    width: 17.9px;
    height: 17.9px;
    margin: 9px 8.3px 62.1px 7.7px;
    background-color: #a5a5a5;
  }

  .mailhome{
    position: absolute;
    left:270px;
    top:35px;
  }

  .phonehome{
    position: absolute;
    left:25px;
    top:35px;
  }

  
  .fhome{
    position: absolute;
    left:1100px;
    top:35px;
  }

  
  .thome{
    position: absolute;
    left:1140px;
    top:35px;
  }

  
  .lhome{
    position: absolute;
    left:1180px;
    top:35px;
  }

  
  .ihome{
    position: absolute;
    left:1220px;
    top:35px;
  }

  .fch{
    position: absolute;
    left:1000px;
    top:120px;
  }

  .tch{
    position: absolute;
    left:1040px;
    top:120px;
  }

  .lch{
    position: absolute;
    left:1080px;
    top:120px;
  }

  .ich{
    position: absolute;
    left:1120px;
    top:120px;
  }


  .Path-21home{
    position: absolute;
    left:25px;
    top:90px;
  }

  .Path-21cc{
    position: absolute;
    left:25px;
    top:90px;
  }

  /*  phone no */
  .phone-no{
    width: 108px;
    height: 26px;
    position: absolute;
    top:30px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }


  /* email logo */
  .Path-2 {
    width: 23.7px;
    height: 14.4px;
    position: absolute;
    top:30px;
    left:270px;
    background-color: #a5a5a5;
  }

  /* gmail */
  .abcgmailcom {
    width: 144px;
    height: 26px;
    position: absolute;
    top:30px;
    left:300px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  /* facebook font*/

  .Icon-awesome-facebook-f {
    width: 14.4px;
    height: 26.8px;
    position: absolute;
    top:30px;
    left:1050px;
    background-color: #a5a5a5;
  }

  /* twitter logo */
  .Icon-awesome-twitter {
    width: 26.8px;
    height: 21.8px;
    position: absolute;
    top:30px;
    left:1100px;
    background-color: #a5a5a5;
  }

/* linked in logo */
  .Icon-awesome-linkedin {
    width: 23.5px;
    height: 23.5px;
    position: absolute;
    top:30px;
    left:1150px;
    background-color: #a5a5a5;
  }

  /* instagarm logo */
  .Icon-awesome-instagram {
    width: 23.5px;
    height: 23.5px;
    position: absolute;
    top:30px;
    left:1200px;
    background-color: #a5a5a5;
  }


  /* logo */
  .Path-21 {
    width: 30.7px;
    height: 30.7px;
    margin: 0 0 0 4.8px;
    background-color: #43adff;
  }

  /* Abhijeet-Soni */
  .Abhijeet-Soninoc {
    width: 203px;
    height: 43px;
    position: absolute;
    top:140px;
    left:160px;
    font-family: OpenSans;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  /* .Home */
  .Homee {
      width: 58px;
      height: 27px;
      font-family: OpenSans;
      font-size: 20px;
      font-weight: 600;
      text-decoration:none;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: normal;
      text-align: left;
      color: var(--warm-grey);
    position: absolute;
    top:130px;
    left:700px;
  
  }

  .About-Meec {
    width: 104px;
    height: 27px;
    text-decoration:none;
    position: absolute;
    top:160px;
    left:350px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .menuu {
    width: 76px;
    height: 35px;
    position: absolute;
    top:80px;
    left:360px;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Homeec {
    width: 104px;
    height: 27px;
    position: absolute;
    top:120px;
    text-decoration:none;
    left:360px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .About {
    width: 58px;
    height: 27px;
    position: absolute;
    top:130px;
    text-decoration:none;
    left:800px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  /* expreyise */
  .Expertise {
    width: 89px;
    height: 27px;
    position: absolute;
    text-decoration:none;
    top:120px;
    left:900px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  /* latest news*/
  .Latest-newss {
    width: 115px;
    height: 27px;
    position: absolute;
    top:130px;
    text-decoration:none;
    left:1050px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  /* contact me*/
  .Contact-me {
    width: 111px;
    height: 27px;
    position: absolute;
    top:130px;
    text-decoration:none;
    left:1200px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }


  /* categoty */
  #category{
      margin-top:3px;
      margin-left:100px;
  }

  /* picture view*/
  .Rectangle-39 {
    width: 1366px;
    height: 487px;
    margin: 183px 0 60px;
    padding: 36px 71px 38px 71px;
    background-color: #dcdcdc;
  }

  .Rectangle-37 {
    width: 490px;
    height: 413px;
    padding: 54px 20px 0 12px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #ffffff;
  }

  .Image-533{
    width: 734px;
    height: 412.7px;
    position: absolute;
    top:280px;
    right:70px;
    padding: 0 0 0 734px;
  }

  .image-removebg-preview-removebg-preview {
    width: 202px;
    height: 359px;
    position: absolute;
    top:390px;
    left:100px;
  }

  .My-Expertise {
    width: 225px;
    height: 47px;
    margin: 0 299px 73px 234px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Latest-news {
    width: 210px;
    height: 47px;
    margin: 0 154px 73px 195px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Rectangle-5 {
    width: 325px;
    height: 237px;
    padding: 166px 3px 3px 2px;
  }

  .img2{
      position:absolute;
      top:1200px;
    left:400px;  
  }

  .img4{
    position:absolute;
    top:1490px;
  left:400px;  
}

.img6{
    position:absolute;
    top:1790px;
  left:400px;  
}

.img1{
  position:absolute;
  top:1200px;
left:40px;  
}

.img3{
position:absolute;
top:1490px;
left:40px;  
}

.img5{
position:absolute;
top:1790px;
left:40px;  
}

.Divorce-Cases {
  width: 140px;
  height: 28px;
  font-family: OpenSans;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:900px;
  top:160px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.Rectangle-55 {
    width: 493px;
    overflow-y:auto;
    height: 798px;
    position:absolute;
    left:800px;
    top:1200px;
    padding: 0 17px;
    background-color: #dcdcdc;
  }

  .Rectangle-28 {
    width: 415px;
    height: 257px;
    position:absolute;
    top:60;
    padding: 12px 13px 15px 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Some-long-title-name-Some-long-title-name-Some-long-title-name {
    width: 387px;
    height: 66px;
    margin: 0 0 9px 1px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

   .Dateh{
  width: 106px;
  height: 27px;
  margin: 9px 281px 20px 1px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

.demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-demo-text-Read-more {
  width: 387px;
  height: 108px;
  margin: 20px 1px 0 0;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}


  .Rectangle-29 {
    width: 415px;
    height: 257px;
    position:absolute;
    top:500;
    padding: 12px 13px 15px 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Rectangle-30 {
    width: 415px;
    height: 257px;
    position:absolute;
    top:1000;
    padding: 12px 13px 15px 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Testimonials {
    width: 223px;
    height: 47px;
    position:absolute;
    top:2000px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Thats-what-my-previous-clients-think-about-the-quality-of-service-I-gave-them {
    width: 395px;
    height: 54px;
    position:absolute;
    top:2080px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Rectangle-25 {
    width: 590px;
    height: 411px;
    position:absolute;
    top:2200px;
    padding: 28px 53.7px 13.9px 44px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimonial-This-is-demo-testimon {
    width: 441px;
    height: 216px;
    margin: 2.5px 0 3px 6.7px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Icon-awesome-quote-left {
    width: 22.3px;
    height: 19.5px;
    margin: 0 6.7px 2.5px 0;
    background-color: #43adff;
  }

  .-Vijay-Singh {
    width: 133px;
    height: 33px;
    margin: 40.4px 0 3.2px 337px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Hisar {
    width: 56px;
    height: 32px;
    margin: 3.2px 44.2px 0 347.5px;
    font-family: OpenSans;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }


  .Rectangle-26h {
    width: 590px;
    height: 411px;
    position:absolute;
    top:2200px;
    left:900px;
    padding: 28px 53.7px 13.9px 44px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }



  .Are-you-facing-any-legal-problemsh- {
    width: 332px;
    height: 94px;
    position:absolute;
    top:2850px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  

  .Dont-hesitate-Contact-me-by-this-form-or-by- {
    width: 596px;
    height: 27px;
    position:absolute;
    top:2980px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Rectangle-26 {
    width: 533px;
    height: 539px;
    position:absolute;
    top:2700px;
    left:600px;
    padding: 40px 57px 42px 58px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Rectangle-11 {
    width: 418px;
    height: 47px;
    margin: 0 0 21px;
    padding: 11px 349px 10px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  .Rectangle-12 {
    width: 418px;
    height: 48px;
    margin: 21px 0 17px;
    padding: 12px 354px 10px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  
.Rectangle-13 {
  width: 418px;
  height: 47px;
  margin: 17px 0 18px;
  padding: 12px 269px 9px 16px;
  border-radius: 8px;
  border: solid 2px #c8c8c8;
  background-color: #ffffff;
}

.Rectangle-14 {
  width: 418px;
  height: 49px;
  margin: 18px 0 25px;
  padding: 13px 337px 10px 16px;
  border-radius: 8px;
  border: solid 2px #c8c8c8;
  background-color: #ffffff;
}

.Rectangle-15 {
  width: 418px;
  height: 110px;
  margin: 25px 0 26px;
  padding: 9px 231px 75px 16px;
  border-radius: 8px;
  border: solid 2px #c8c8c8;
  background-color: #ffffff;
}

.Rectangle-16 {
  width: 418px;
  height: 49px;
  padding: 11px 169px 10px;
  border-radius: 8px;
  background-color: #43adff;
}

.Rectangle-23 {
  width: 545px;
  height: 273px;
  margin: 53px 0 0 130.9px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.Locate-me {
  width: 181px;
  height: 47px;
  margin: 0 499px 52.9px 0;
  font-family: OpenSans;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

  .abhijeet_soni_image-removebg-preview {
    width: 237px;
    height: 328px;
  position: absolute;
  top:230px;
  }

  .Abhijeet-Soni {
    width: 165px;
    height: 36px;
    position:absolute;
    top:300px;
    left:400px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #43adff;
  }


  
  .Abhijeet-Soniccontactme {
    width: 165px;
    height: 36px;
    position:absolute;
    top:350px;
    left:400px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #43adff;
  }

  .Our-IT-Cyber-Lawyers-in-Delhi-advises-a-range-of-clients-from-web-based-businesses-to-large-technology-companies-with-a-global-presence-The-Professionals-advises-on-electronic-commerce-data-protection-business-process-outsourcing-and-call-centre-relat {
    width: 908px;
    height: 240px;
    margin: 22px 77px 26px 62px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Rectangle-71 {
    width: 272px;
    height: 300px;
    margin: 141px 192px 289px 902px;
    padding: 18px 33px 20px 26px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }




  .Our-IT-Cyber-Lawyers-in-Delhi-advises-a-range-of-clients-from-web-based-businesses-to-large-technology-companies-with-a-global-presence-The-Professionals-advises-on-electronic-commerce-data-protection-business-process-outsourcing-and-call-centre-relat {
    width: 1207px;
    height: 270px;
    margin: 26px 77px 52px 82px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Subheading {
    width: 148px;
    height: 36px;
    margin: 52px 151px 10px 82px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delh {
    width: 1207px;
    height: 150px;
    margin: 10px 77px 71px 82px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  

  .Rectangle-17 {
    width: 1366px;
    height: 418.6px;
    position: absolute;
    top:1300px;
    padding: 66.6px 0 0;
    background-color: #f1f1f1;
  }

 

  .Rectangle-18 {
    width: 1366px;
    height: 102px;
    position:absolute;
    top:2900px;
    padding: 38px 61px 37px 62px;
    background-color: #dcdcdc;
  }

  .Rectangle-18c {
    width: 1300px;
    height: 102px;
    position:absolute;
    top:400px;
    padding: 38px 61px 37px 62px;
    background-color: #dcdcdc;
  }



  .Copyright-Advocatesandhyaguptacom-All-Right-Reserved {
    width: 579px;
    height: 27px;
    margin: 0 232px 0 0;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }
  
  .DEVELOPED-BY-3Ediots---Your-digital-partner {
    width: 432px;
    height: 27px;
    margin: 0 0 0 232px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Path-21 {
    width: 69.8px;
    height: 70px;
    margin: 0 0 0 10.9px;
    background-color: #43adff;
  }

  .Abhijeet-Sonii {
    width: 108px;
    height: 23px;
    margin: 0 109px 6px 0px;
    font-family: OpenSans;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #43adff;
  }

  .Sandhya-Gupta-and-Associates-is-a-law-firm-in-Delhi-NCR-founded-in-the-year-2010-Since-the-begin-ning-the-main-theme-of-Advocate-Sandhya-Gupt-a-the-founder-of-the-said-firm {
    width: 217px;
    height: 140px;
    margin: 6px 0 18px 0px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Read-more {
    width: 68px;
    height: 18px;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #43adff;
  }

  .Rectangle-10 {
    width: 80px;
    height: 30px;
    padding: 6px 6px 6px 6px;
    border: solid 1px #43adff;
    background-color: #ffffff;
  }

  .Union-11 {
    width: 262px;
    height: 244px;
    position:absolute;
    top:390px;
    left:300px;
    padding: 13px 10px 14px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Image-53 {
    width: 734px;
    height: 412.7px;
    position: absolute;
    top:400px;
    left:10px;
    padding: 0 0 0 734px;
  }

  .menu {
    width: 76px;
    height: 35px;
    margin: 67px 183px 22px 164px;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Abhijeet-Sonic {
    width: 206px;
    height: 38px;
    position:absolute;
    top:2300px;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Abhijeet-Sonichome {
    width: 206px;
    height: 38px;
    position:absolute;
    top:100px;
    left:30px;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }


  .homebackground{
    background-color: #f8f8f8    ;
  }
  
  .Abhijeet-Soniccontactmee {
    width: 206px;
    height: 38px;
    position:absolute;
    top:170px;
    left:30px;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .IMPORTANT-LINKS {
    width: 224px;
    height: 35px;
    position:absolute;
    top:2200px;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Find-Me-on {
    width: 151px;
    height: 35px;
    position:absolute;
    top:2200px;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Home {
    width: 104px;
    height: 27px;
    position:absolute;
    top:2000px;
    left:100px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .About-Mee {
    width: 104px;
    height: 27px;
    margin: 9px 155px 9px 164px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Blog {
    width: 104px;
    height: 27px;
    margin: 6px 155px 9px 164px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Contact-Mee {
    width: 111px;
    height: 27px;
    margin: 3px 148px 20px 164px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }


  .lawyer-contact-us {
    width: 1366px;
    height: 1528px;
    padding: 0 0 1px;
    background-color: #f8f8f8;
  }  


  .Are-you-facing-any-legal-problems- {
    width: 837px;
    height: 47px;
    position: absolute;
    top:500px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Are-you-facing-any-legal-problemsc- {
    width: 837px;
    height: 47px;
    position: absolute;
    top:300px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Dont-hesitate-Contact-me-by-given-form {
    width: 386px;
    height: 27px;
    position: absolute;
    top:350px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }
  .Rectangle-26c {
    width: 533px;
    height: 539px;
    position: absolute;
    top:430px;
    padding: 40px 57px 42px 58px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Rectangle-26hh {
    width: 533px;
    height: 539px;
    position: absolute;
    top:2800px;
    left:600px;
    padding: 40px 57px 42px 58px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Rectangle-11c {
    width: 418px;
    height: 47px;
    position: absolute;
    top:50px;
    padding: 11px 349px 10px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  
  .Rectangle-11c1 {
    width: 418px;
    height: 47px;
    position: absolute;
    top:120px;
    padding: 11px 349px 10px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  
  .Rectangle-11c2 {
    width: 418px;
    height: 47px;
    position: absolute;
    top:190px;
    padding: 11px 349px 10px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  
  .Rectangle-11c3 {
    width: 418px;
    height: 47px;
    position: absolute;
    top:250px;
    padding: 11px 349px 10px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  .Rectangle-15c {
    width: 418px;
    height: 110px;
    position: absolute;
    top:330px;
    padding: 9px 231px 75px 16px;
    border-radius: 8px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }

  .Rectangle-16c {
    width: 418px;
    height: 49px;
    position: absolute;
    top:460px;
    padding: 11px 169px 10px;
    border-radius: 8px;
    background-color: #43adff;
  }

  .Rectangle-29cc {
    width: 292px;
    height: 218px;
    position: absolute;
    top:500px;
    left:800px;
    padding: 20px 51px 26px 43px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }

  .Namee {
    width: 53px;
    height: 26px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Emaill {
    width: 48px;
    height: 26px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Phone-numberr {
    width: 133px;
    height: 26px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Subjectt {
    width: 65px;
    height: 26px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Type-your-messagee {
    width: 171px;
    height: 26px;
    font-family: OpenSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Submitt {
    width: 80px;
    height: 28px;
    font-family: Rubik;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .or-Contact-me-by {
    width: 198px;
    height: 33px;
    margin: 0 0 56px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .n{
    width: 116px;
    height: 24px;
    margin: 56px 37px 35px 16.8px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .cmail {
    width: 146px;
    height: 24px;
    margin: 35px 7px 0 16.8px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Contact-Mee {
    width: 111px;
    height: 27px;
    position:absolute;
    left:180px;
    top:230px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }



  .Blogg {
    width: 104px;
    height: 27px;
    position:absolute;
    left:360px;
    top:200px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .IMPORTANT-LINKSS {
    width: 224px;
    height: 35px;
    position:absolute;
    left:690px;
    top:80px;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Find-Me-onn {
    width: 151px;
    height: 35px;
    position:absolute;
    left:1010px;
    top:80px;
    font-family: SegoeUI;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Supreme-Court-of-India {
    width: 289px;
    height: 27px;
    position:absolute;
    left:700px;
    top:150px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .High-Court-of-Delhi {
    width: 289px;
    height: 27px;
    position:absolute;
    left:700px;
    top:190px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .District-Courts-of-India {
    width: 289px;
    height: 27px;
    position:absolute;
    left:700px;
    top:230px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Confonet {
    width: 289px;
    height: 27px;
    position:absolute;
    left:700px;
    top:270px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Central-administrative-tribunal {
    width: 289px;
    height: 27px;
    position:absolute;
    left:700px;
    top:310px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Icon-awesome-facebook-fabout{
    width: 14.4px;
    height: 30.8px;
    position: absolute;
    left:1000px;
    top:130px;
    background-color: #43adff;
  }

  .Icon-awesome-twitterccc {
    width: 30.8px;
    height: 21.8px;
    position:absolute;
    left:1030px;
    top:130px;
    background-color: #43adff;
  }

  .Icon-awesome-linkedinccc {
    width: 23.5px;
    height: 23.5px;
    position:absolute;
    left:1090px;
    top:130px;
    background-color: #43adff;
  }


  .Icon-awesome-instagramcccc {
    width: 23.5px;
    height: 23.5px;
    position:absolute;
    left:1200px;
    top:160px;
    background-color: #43adff;
  }

  .Copyright-Advocatesandhyaguptacom-All-Right-Reservedc{
    width: 579px;
    height: 27px;
    position:absolute;
    left:100px;
    top:30px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .DEVELOPED-BY-3Ediots---Your-digital-partnerc {
    width: 432px;
    height: 27px;
    position:absolute;
    left:800px;
    top:30px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Rectangle-17h{
   position:absolute;
   top:4000px; 
  }


  .Rectangle-17about{
    position:absolute;
    top:1200px; 
   }
 

  .Rectangle-17e{
    position:absolute;
    top:1500px; 
   }

  .Locate-mee {
    width: 181px;
    height: 47px;
    position: absolute;
    top:3500px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .BAR-ROOM-NUMBER-1-CHANDIGARH-HIGH-COURT {
    width: 647px;
    height: 24px;
    position: absolute;
    top:3600px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .CHAMBER-NO-530-DISTRICT-COURT-HISAR {
    width: 508px;
    height: 24px;
    position: absolute;
    top:3700px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .TIS-HAZARI-COURT-DELHI {
    width: 300px;
    height: 24px;
    position: absolute;
    top:3800px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Divorce-Cases {
    width: 241px;
    height: 47px;
    position: absolute;
    top:300px;
    font-family: OpenSans;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delhi {
    width: 567px;
    height: 390px;
    position: absolute;
    top:400px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Rectangle-5e {
    width: 606px;
    height: 374px;
    position: absolute;
    top:400px;
    left:700px;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delhii {
    width: 1202px;
    height: 150px;
    position: absolute;
    top:800px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Subheading {
    width: 148px;
    height: 36px;
    position: absolute;
    top:900px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delhii {
    width: 1202px;
    height: 150px;
    position: absolute;
    top:800px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Subheading {
    width: 148px;
    height: 36px;
    position: absolute;
    top:900px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delhii1 {
    width: 1202px;
    height: 150px;
    position: absolute;
    top:1000px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Subheading1{
    width: 148px;
    height: 36px;
    position: absolute;
    top:1150px;
    left:110px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delhii2{
    width: 1202px;
    height: 150px;
    position: absolute;
    top:1200px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }


  .Abhijeet-Sonicontactt {
    width: 165px;
    height: 36px;
    position:absolute;
    top: 300px;
    left:400px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #43adff;
  }


  .Our-IT-Cyber-Lawyers-in-Delhi-advises-a-range-of-clients-from-web-based-businesses-to-large-technology-companies-with-a-global-presence-The-Professionals-advises-on-electronic-commerce-data-protection-business-process-outsourcing-and-call-centre-relatcontact {
    width: 908px;
    height: 240px;
    position:absolute;
    top: 350px;
    left:400px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Our-IT-Cyber-Lawyers-in-Delhi-advises-a-range-of-clients-from-web-based-businesses-to-large-technology-companies-with-a-global-presence-The-Professionals-advises-on-electronic-commerce-data-protection-business-process-outsourcing-and-call-centre-relatcontact1 {
    width: 1207px;
    height: 270px;
    position:absolute;
    top: 600px;
    left:100px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Subheadingcontact {
    width: 148px;
    height: 36px;
    position:absolute;
    top: 900px;
    left:100px;
    font-family: OpenSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .The-legal-process-of-a-divorce-depends-upon-the-type-of-divorce-If-a-divorce-is-contested-it-could-take-more-than-a-year-for-the-marriage-to-be-dissolved-But-when-we-are-here-you-dont-have-to-worry-at-all-We-have-team-of-Best-Divorce-Lawyers-in-Delhcontact2 {
    width: 1207px;
    height: 150px;
    position:absolute;
    top: 950px;
    left:100px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
  }

  .Abhijeet-Sonicontactttt {
    width: 206px;
    height: 38px;
    position:absolute;
    top: 100px;
    left:30px;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  .Icon-ionic-ios-callHomee {
    width: 17.9px;
    height: 17.9px;
    margin: 9px 8.3px 62.1px 7.7px;
    background-color: #a5a5a5;
  }

  .Icon-awesome-facebook-f {
  width: 14.4px;
  height: 26.8px;
  margin: 0 22.6px 62.2px 10px;
  background-color: #a5a5a5;
}
