body{
background-color: azure; 
margin:0;  
}

/* taskbar design */
.taskbar{
background-color:blueviolet;
overflow: hidden;
}

/* element inside taskbar  */
.taskbar a{
float: left;
display: block;
padding:30px 56px;
text-decoration: none;
}

/* search form division */
#searchDiv{
 margin-top: 30;   
 float:right; 
   
}

/*  search bar */
#searchBar{
    border-radius:5px;
}




/* booking rect div design */

.view-rect-info{
margin-top:10%;
margin-left:5%;
width:90%;
height:40%;
background-color:aqua;    
}















