/* for desktop and pc version */

@media only screen and (min-width:992px) {

/* container for div  */

.container{
background-color:yellowgreen;
width:50%;
height:70%;
text-align: center;
}

/* h1 */

h1{
color:whitesmoke;
}

/* start button */
#start{
color:whitesmoke; 
border-radius:5px;
margin-left:5px;
font-size:30px;
background: transparent;
border-color: whitesmoke;   
}

/* reset button */
#stop{
    color:whitesmoke;
    border-radius:5px; 
    font-size:30px;
    margin-left:40px;
    border-color: whitesmoke;  
    background: transparent;   
    }


    /* stop button */
#reset{
    color:whitesmoke; 
    border-radius:5px; 
    font-size:30px;
    margin-left:40px;
    border-color: whitesmoke;   
    background: transparent; 
    }

}



/* for  (portrait)  large mobile and tablet version  */
@media only screen and (min-width:600px) {
    
    /* container for div  */
    
    .container{
    background-color:yellowgreen;
    width:50%;
    height:70%;
    text-align: center;
    }
    
    /* h1 */
    
    h1{
    color:whitesmoke;
    }
    
    /* start button */
    #start{
    color:whitesmoke; 
    border-radius:5px;
    margin-left:5px;
    font-size:20px;
    background: transparent;
    border-color: whitesmoke;   
    }
    
    /* reset button */
    #stop{
        color:whitesmoke;
        border-radius:5px; 
        font-size:20px;
        margin-left:40px;
        border-color: whitesmoke;  
        background: transparent;   
        }
    
    
        /* stop button */
    #reset{
        color:whitesmoke; 
        border-radius:5px; 
        font-size:20px;
        margin-left:40px;
        border-color: whitesmoke;   
        background: transparent; 
        }
    
    }
    

/* for  small mobile version  */
    @media only screen and (max-width:992px) {
        /* container for div  */
        
        .container{
        background-color:yellowgreen;
        width:50%;
        height:70%;
        text-align: center;
        }
        
        /* h1 */
        
        h1{
        color:whitesmoke;
        }
        
        /* start button */
        #start{
        color:whitesmoke; 
        border-radius:5px;
        margin-left:5px;
        font-size:15px;
        background: transparent;
        border-color: whitesmoke;   
        }
        
        /* reset button */
        #stop{
            color:whitesmoke;
            border-radius:5px; 
            font-size:15px;
            margin-left:40px;
            border-color: whitesmoke;  
            background: transparent;   
            }
        
        
            /* stop button */
        #reset{
            color:whitesmoke; 
            border-radius:5px; 
            font-size:15px;
            margin-left:40px;
            border-color: whitesmoke;   
            background: transparent; 
            }
        
        }
        