body {
    background-color: #e4efe7;
}

/* web ap name */
.container h1 {
    text-align: center;
    margin-top: 4%;
    font-size: 4rem;
    color: #f5abc9;
    font-weight: 600;
}

/* filter buttons */
.filters {
    display: flex;
    justify-content: space-evenly;
}

/* song item container */
.song-items {
    margin-top: 8%;
}

/* songs container */
.songs {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-left: 7%;
}

.songs h3 {
    margin-top: 2%;
    padding-left: 10%;
}

/* image of poster */
img {
    width: 100%;
    max-width: 90%;
    height: 80%;
    border-radius: 4%;
    border-width: 3rem;
}

/* medium sizes layout */
@media(max-width:800px) {

    /* songs container */
    .songs {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin-left: 16%;
    }

    /* medium sizes layout */
    @media(max-width:576px) {

        /* songs container */
        .songs {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            margin-left: 13%;
        }

        /* image of poster */
        img {
            width: 100%;
            max-width: 90%;
            height: 70%;
            border-radius: 4%;
            border-width: 3rem;
        }


    }



    /* medium sizes layout */
    @media(max-width:330px) {


        /* songs container */
        .songs {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            margin-left: 13%;
        }

        /* image of poster */
        img {
            width: 100%;
            max-width: 90%;
            height: 70%;
            border-radius: 4%;
            border-width: 3rem;
        }


    }


}
