
@media(min-width:576px){
.nav-class{
display:none;
}

#nav-button{
    display:none;
}

.nav-small{
  display: none;
}



.search-br-div{
  display:none;

}

}






/* mobile version */
@media(max-width:576px){

  .nav-big{
    display:none;
  }

.nav-class{
padding-top:30px;
width:0;
  height:600px;
  top:0;
  z-index:1;
  position:fixed;
  background-color: black;  
}

.unorder{
  padding-right:40%;
  
}

li{
text-decoration: none;
}

.search-br-div{
  text-align: center;

}

}