/* build your own custom Bootstrap theme:
   https://themestr.app
*/

.navbar-toggler{
    position:relative;
   right:3%;
}



@media(max-width:576px){
.navbar-nav{
    z-index:1;
background-color:yellow;
position:fixed;
top:0;
left:0;
width:200px;
height:700px;
}

}