/* build your own custom Bootstrap theme:
   https://themestr.app
*/


@media(max-width:360px){
    
    .toggler-btn{
        font-size:70%;
        position:relative;
       left:1%;
        
    }
    
    .nav-content{
        font-size:90%;
        position:relative;
    right:23%;
    }
    
    .nav-content1{
        font-size:90%;
         position:relative;
    right:51%;
    }
    
    .content{
        margin-top:30%;
        text-align:center;
    }
    
    .search-box{
   border-radius:5%; 
}

.footer{
    background-color:grey;
    margin-top:110%;
    padding:0 0 10% 0;
}

.footer-div1{
    text-align:center;
}

.f-con1{
    padding:0 2% 0 2%;
}

.footer-div2{
    text-align:center;
}

.f-con2{
    padding:1% 0 0 0;
    padding:0 2% 0 2%;
}

.mid-content{
    margin-top:10%;
    text-align:center;
    
}
    
}



@media(min-width:360px){
    
    .toggler-btn{
        font-size:70%;
        position:relative;
       left:1%;
        
    }
    
    .nav-content{
        font-size:90%;
        position:relative;
    right:28%;
    }
    
    .nav-content1{
        font-size:90%;
         position:relative;
    right:57%;
    }
    
    .content{
        margin-top:20%;
        text-align:center;
    }
    
    .search-box{
   border-radius:5%; 
}

.footer{
    background-color:grey;
    margin-top:110%;
    padding:0 0 10% 0;
}

.footer-div1{
    text-align:center;
}

.f-con1{
    padding:0 2% 0 2%;
}

.footer-div2{
    text-align:center;
}

.f-con2{
    padding:1% 0 0 0;
    padding:0 2% 0 2%;
}
    
  .mid-content{
    text-align:center;
     margin-top:40%;
    
}
    
}

@media(min-width:750px){
    
    .toggler-btn{
        font-size:70%;
        position:relative;
       left:1%;
        
    }
    
    .nav-content{
        font-size:90%;
        position:relative;
    right:32%;
    }
    
    .nav-content1{
        font-size:90%;
         position:relative;
    right:60%;
    }
    
    .content{
        margin-top:10%;
        text-align:center;
    }
    
    .search-box{
   border-radius:5%; 
}

.footer{
    background-color:grey;
    margin-top:80%;
    padding:0 0 10% 0;
}

.footer-div1{
    text-align:center;
}

.f-con1{
    padding:0 2% 0 2%;
}

.footer-div2{
    text-align:center;
}

.f-con2{
    padding:1% 0 0 0;
    padding:0 2% 0 2%;
}
    .mid-content{
    margin-top:3%;
    text-align:center;
    
}
    
}
